
SPI/db/.cmp.kpt
SPI/db/prev_cmp_SPI_FPGA.qmsg
SPI/db/SPI.(0).cnf.cdb
SPI/db/SPI.(0).cnf.hdb
SPI/db/SPI.asm.qmsg
SPI/db/SPI.asm.rdb
SPI/db/SPI.asm_labs.ddb
SPI/db/SPI.cbx.xml
SPI/db/SPI.cmp.bpm
SPI/db/SPI.cmp.cdb
SPI/db/SPI.cmp.hdb
SPI/db/SPI.cmp.idb
SPI/db/SPI.cmp.logdb
SPI/db/SPI.cmp.rdb
SPI/db/SPI.cmp_merge.kpt
SPI/db/SPI.cycloneive_io_sim_cache.45um_ff_1200mv_0c_fast.hsd
SPI/db/SPI.cycloneive_io_sim_cache.45um_ss_1200mv_0c_slow.hsd
SPI/db/SPI.cycloneive_io_sim_cache.45um_ss_1200mv_85c_slow.hsd
SPI/db/SPI.db_info
SPI/db/SPI.fit.qmsg
SPI/db/SPI.hier_info
SPI/db/SPI.hif
SPI/db/SPI.lpc.html
SPI/db/SPI.lpc.rdb
SPI/db/SPI.lpc.txt
SPI/db/SPI.map.ammdb
SPI/db/SPI.map.bpm
SPI/db/SPI.map.cdb
SPI/db/SPI.map.hdb
SPI/db/SPI.map.kpt
SPI/db/SPI.map.qmsg
SPI/db/SPI.map.rdb
SPI/db/SPI.map_bb.cdb
SPI/db/SPI.map_bb.hdb
SPI/db/SPI.pplq.rdb
SPI/db/SPI.pre_map.hdb
SPI/db/SPI.root_partition.map.reg_db.cdb
SPI/db/SPI.routing.rdb
SPI/db/SPI.rtlv.hdb
SPI/db/SPI.rtlv_sg.cdb
SPI/db/SPI.rtlv_sg_swap.cdb
SPI/db/SPI.sld_design_entry.sci
SPI/db/SPI.sld_design_entry_dsc.sci
SPI/db/SPI.smart_action.txt
SPI/db/SPI.sta.qmsg
SPI/db/SPI.sta.rdb
SPI/db/SPI.sta_cmp.8_slow_1200mv_85c.tdb
SPI/db/SPI.tis_db_list.ddb
SPI/db/SPI.tiscmp.fast_1200mv_0c.ddb
SPI/db/SPI.tiscmp.fastest_slow_1200mv_0c.ddb
SPI/db/SPI.tiscmp.fastest_slow_1200mv_85c.ddb
SPI/db/SPI.tiscmp.slow_1200mv_0c.ddb
SPI/db/SPI.tiscmp.slow_1200mv_85c.ddb
SPI/db/SPI.vpr.ammdb
SPI/db/SPI_FPGA.map_bb.logdb
SPI/db/SPI_partition_pins.json
SPI/incremental_db/compiled_partitions/SPI.db_info
SPI/incremental_db/compiled_partitions/SPI.root_partition.cmp.ammdb
SPI/incremental_db/compiled_partitions/SPI.root_partition.cmp.cdb
SPI/incremental_db/compiled_partitions/SPI.root_partition.cmp.dfp
SPI/incremental_db/compiled_partitions/SPI.root_partition.cmp.hdb
SPI/incremental_db/compiled_partitions/SPI.root_partition.cmp.logdb
SPI/incremental_db/compiled_partitions/SPI.root_partition.cmp.rcfdb
SPI/incremental_db/compiled_partitions/SPI.root_partition.map.cdb
SPI/incremental_db/compiled_partitions/SPI.root_partition.map.dpi
SPI/incremental_db/compiled_partitions/SPI.root_partition.map.hbdb.cdb
SPI/incremental_db/compiled_partitions/SPI.root_partition.map.hbdb.hb_info
SPI/incremental_db/compiled_partitions/SPI.root_partition.map.hbdb.hdb
SPI/incremental_db/compiled_partitions/SPI.root_partition.map.hbdb.sig
SPI/incremental_db/compiled_partitions/SPI.root_partition.map.hdb
SPI/incremental_db/compiled_partitions/SPI.root_partition.map.kpt
SPI/incremental_db/compiled_partitions/SPI.rrp.hdb
SPI/incremental_db/README
SPI/output_files/SPI.asm.rpt
SPI/output_files/SPI.cdf
SPI/output_files/SPI.done
SPI/output_files/SPI.fit.rpt
SPI/output_files/SPI.fit.smsg
SPI/output_files/SPI.fit.summary
SPI/output_files/SPI.flow.rpt
SPI/output_files/SPI.jdi
SPI/output_files/SPI.map.rpt
SPI/output_files/SPI.map.summary
SPI/output_files/SPI.pin
SPI/output_files/SPI.sld
SPI/output_files/SPI.sof
SPI/output_files/SPI.sta.rpt
SPI/output_files/SPI.sta.summary
SPI/SPI.qsf
SPI/SPI.qws
SPI/SPI.vhd.bak
SPI/SPI_description.txt
SPI/SPI_FPGA.qpf
